/* .card{
  width: 100%;
  height: auto;
 
  
}
.card-image{
  display: flex;
width: 30%;
height: auto;
}
.card-data{
   width: 300px;
   
    box-sizing: border-box;
    padding-right: 20px;
 
    color: lightslategray;
  }
  .card-data h2{
     margin-left: 20px;
    color: red;
  }
  .card-data h5 {
    color: #0d0d0d;
    text-decoration: none;
  }

.card__small {
    display: flex;
    width: 200px;
    margin-bottom: 10px;

  }
  
  .card__data {
    display: flex;
    gap: 50px;
  }
  
  .card__small img {
    width: 300px;
    height: 150px;
  }
  .small{
color: black;
   margin-top: 20px;
  }
  .smalltext p{
    width: 350px;
    color: green;
    margin-top: 40px;
}
.smalltext h5{
    margin-top: 40px;
    color: red;
}
.topcard{
    display: flex;
    width: 250px;
    height: auto;

}
.topcard img{
    width: 70%;
    height: 150px;
}
.topcard h5,p{
    margin: 20px 20px;
}
.topcard h5{
  color: black;
}
.topcard p{
  color: brown;
}
.whitebox{
    width: 250px;
    height: 420px;
    background-color: darkgrey;
    border: 2px solid black;
    background-image:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg_My4jnKG4o0RGCuj0aLlXIweCxEtARuw2g&usqp=CAU" ;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  @media (max-width:480px) {
    .card-data{
   
      width: 300px;
      text-align: center;
      position: relative;
      left: 350px;
    }
    .card__data {
      display: flex;
      
    }
    
.card__small {
  display: flex;
  width: 100px;
  margin-bottom: 10px;
    
  }
  .smalltext p{
    width: 100px;
   
}
} */
.parent{
  width: 600px;
  display: flex;
  flex-direction: row;
}
 .image-container{
width: 400px;
height: 500px;
 }
.image-container img{
  height:auto;
  border-radius:9px;
  width:70%;
  gap: 10%;
}
.comp-data{
  width: 200px;
  margin-top: 10%;
}
.article{
  font-weight:bold;
  color:grey;
  /* margin-top: -65%; */
  width: 100%;
  /* text-align:center; */
  /* margin-left: 100%; */
}
.title{
  width: 100%;
  font-weight:bold;
  color:green;
  /* margin-left: 112%; */
}
.date{
  font-weight:bold;
  color:grey;
  /* margin-top: 9%; */
  width: 100%;
  /* margin-left: 100%; */
}
p{
  font-weight:bold;
  color:grey;
  text-align:center;
}
/* toppost */
.top-div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.top-img{
  width: 300px;
}
  
  .top-img img{
width: 100%;
  }
  .top-data h5{
    width:200px ;
    margin-left: 60%;
    margin-top: -50%;
  }
  .top-data p{
    width: 200px;
    margin-left:70%;
    margin-top: 10%;
  }

@media (max-width:480px) {
  .top-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .top-img{
    width: 300px;
  }
    
    .top-img img{
  width: 100%;
    }
    .top-data h5{
      width:200px ;
      margin-left: 20%;
      margin-top: 3%;
    }
    .top-data p{
      width: 200px;
      margin-left:30%;
      margin-top: 4%;
    }
    .parent{
      width: 600px;
      display: flex;
      flex-direction: column;
    }
    .image-container{
      width: 400px;
      height: 500px;
       }
      .image-container img{
        height:auto;
        border-radius:9px;
        width:70%;
        gap: 10%;
      }


      .comp-data{
       
          width: 528px;
          margin-top: -28%;
          margin-left: 223px;
      }
      .article{
        font-weight:bold;
        color:grey;
        /* margin-top: -65%; */
        width: 100%;
        /* text-align:center; */
        /* margin-left: 100%; */
      }
      .title{
        width: 100%;
        font-weight:bold;
        color:green;
        /* margin-left: 112%; */
      }
      .date{
        font-weight:bold;
        color:grey;
        /* margin-top: 9%; */
        width: 100%;
        /* margin-left: 100%; */
      }
      p{
        font-weight:bold;
        color:grey;
        text-align:center;
      }

}
  